.lobby_screen{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;    
}

.lobby{
    width: 50vw;
    height: 60vh;
    background-color: red;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile_row{
    display: flex;
    justify-content: space-evenly;
}

.play_button{
    margin: 2rem 0 0 0;
    width: 30%;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 0px;
}