.lobby-screen {
    background-color: #e49090;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 35rem;

}

.rectangle-27 {
    background-color: #f9d2d2;
    border-radius: 3rem;
    height: 20.8rem;
    left: 20rem;
    position: relative;
    top: 8.8rem;
    width: 43.8rem;
}

.rectangle-28 {
    border-radius: 2rem;
    height: 5.0rem;
    left: 27rem;
    object-fit: contain;
    position: absolute;
    top: 13.1rem;
    vertical-align: top;
    width: 5.0rem;

}

.rectangle-30 {
    border-radius: 2rem;
    height: 5rem;
    left: 39.5rem;
    object-fit: contain;
    position: absolute;
    top: 13.1rem;
    vertical-align: top;
    width: 5rem;
}

.rectangle-31 {
    border-radius: 2rem;
    height: 5rem;
    left: 52rem;
    object-fit: contain;
    position: absolute;
    top: 13.1rem;
    vertical-align: top;
    width: 5rem;
}

.rectangle-32 {
    border-radius: 2rem;
    height: 5rem;
    left: 33.2rem;
    object-fit: contain;
    position: absolute;
    top: 19rem;
    vertical-align: top;
    width: 5rem;
}

.rectangle-33 {
    border-radius: 2rem;
    height: 5rem;
    left: 45.7rem;
    object-fit: contain;
    position: absolute;
    top: 19rem;
    vertical-align: top;
    width: 5rem;
}

.player-1-1 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: Dongle, 'Source Sans Pro';
    font-size: 0.5rem;
    font-weight: 400;
    height: 4.7rem;
    justify-content: center;
    left: 25rem;
    letter-spacing: 0.16rem;
    line-height: 1.4475;
    position: absolute;
    text-transform: uppercase;
    top: 16.56rem;
    white-space: nowrap;
    width: 9.6rem;
}

.player-1-2 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: Dongle, 'Source Sans Pro';
    font-size: 0.5rem;
    font-weight: 400;
    height: 4.7rem;
    justify-content: center;
    left: 37.5rem;
    letter-spacing: 0.16rem;
    line-height: 1.4475;
    position: absolute;
    text-transform: uppercase;
    top: 16.56rem;
    white-space: nowrap;
    width: 9.6rem;
}

.player-1-3 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: Dongle, 'Source Sans Pro';
    font-size: 0.5rem;
    font-weight: 400;
    height: 4.7rem;
    justify-content: center;
    left: 50rem;
    letter-spacing: 0.16rem;
    line-height: 1.4475;
    position: absolute;
    text-transform: uppercase;
    top: 16.56rem;
    white-space: nowrap;
    width: 9.6rem;
}

.player-1-4 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: Dongle, 'Source Sans Pro';
    font-size: 0.5rem;
    font-weight: 400;
    height: 4.7rem;
    justify-content: center;
    left: 31rem;
    letter-spacing: 0.16rem;
    line-height: 1.4475;
    position: absolute;
    text-transform: uppercase;
    top: 22.5rem;
    white-space: nowrap;
    width: 9.6rem;
}

.player-1-5 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: Dongle, 'Source Sans Pro';
    font-size: 0.5rem;
    font-weight: 400;
    height: 4.7rem;
    justify-content: center;
    left: 43.5rem;
    letter-spacing: 0.16rem;
    line-height: 1.4475;
    position: absolute;
    text-transform: uppercase;
    top: 22.5rem;
    white-space: nowrap;
    width: 9.6rem;
}

.lobby {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: Dongle, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 700;
    height: 13.9rem;
    justify-content: center;
    left: 30.99rem;
    letter-spacing: 0.48rem;
    line-height: 1.4475;
    position: absolute;
    text-transform: uppercase;
    top: 3.35rem;
    white-space: nowrap;
    width: 20.7rem;
}

.rectangle-25 {
    background-color: #e57d7d;
    border-radius: 1.5rem;
    height: 2.2rem;
    left: 39rem;
    position: absolute;
    top: 26.5rem;
    width: 4.8rem;
}

.public {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: Dongle, 'Source Sans Pro';
    font-size: 0.78rem;
    font-weight: 700;
    height: 2rem;
    justify-content: center;
    left: 39.47rem;
    letter-spacing: 0.2rem;
    line-height: 1.4475;
    position: absolute;
    text-transform: uppercase;
    top: 26.56rem;
    white-space: nowrap;
    width: 4rem;
}