.roomselection {
    background: linear-gradient(-90deg, #093790 100%, rgba(90, 79, 219, 0) 0%);
    background-color: #000000;
    background-image: url('/api/prod-us-east-2-first-cluster/projects/UkP7yFZMNxsm8EGNj56hZT/files/vector/b1ca76ec7a5fa5428ea7ba002999eac64e2649eebec406726f07bd49002b65c2b03ae72ebaf44674dfe6539cae66f0b7cc8c1f766666088d2ad4099f8b82e30d?hash=d51849ee5a3b55aa76e7e855fbab81ce7d57027a896ac14064609bb6b90e404d');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem;
    height: 38rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.rectangle-22 {
    background-color: rgba(255, 255, 255, 0.3000000119);
    border-radius: 3rem;
    height: 15.8rem;
    left: 20rem;
    position: relative;
    top: 10.8rem;
    width: 35.8rem;
}

.join-a-room {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-size: 50px;
    font-weight: 700;
    height: 31px;
    justify-content: center;
    left: 18.5rem;
    letter-spacing: 0.3rem;
    line-height: 139px;
    position: absolute;
    text-transform: uppercase;
    top: 12.8rem;
    white-space: nowrap;
    width: 646px;
    text-align: center;
}

.public {
    position: absolute;
    width: 10.7rem;
    height: 2.5rem;
    left: 22rem;
    top: 20.6rem;
    background: #2A96B8;
    border-radius: 2rem;
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: Dongle, Sans-serif-Pro, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    height: 3.5rem;
    justify-content: center;
    letter-spacing: 0.2rem;
    line-height: 1.4475;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 10px 30px;
    cursor: pointer;
}

.private {
    position: absolute;
    width: 10.7rem;
    height: 3.5rem;
    left: 40rem;
    top: 20.6rem;
    background: #2A96B8;
    border-radius: 2rem;
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: Dongle, Sans-serif-Pro, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.2rem;
    line-height: 1.4475;
    position: absolute;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 10px 30px;
    cursor: pointer;
}

#alert {
    width: 600px;
    height: 150px;
    overflow: hidden;
    background-color: rgb(78, 82, 99);
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
    font-family: Dongle, Sans-serif-Pro, sans-serif;
}

#alert span {

    font-size: 40px;
    display: block;
    margin: 20px 0;
}

.join {
    font-size: 2.2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    background: #2A96B8;
    display: inline-block;
    border-radius: 2rem;
}

.create {
    font-size: 2.2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    background: #2A96B8;
    display: inline-block;
    border-radius: 2rem;
}