@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900);

/* main card div view */
.card {
    width: 116px;
    height: 178px;
    float: left;
    background: #fff;
    border-radius: 5px;
    display: table;
    box-sizing: border-box;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100px;
    text-shadow:
        1px 1px 0 #000000,
        -1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px -1px 0 #000000,
        1px 0 0 #000000,
        -1px 0 0 #000000,
        0 -1px 0 #000000,
        0 1px 0 #000000,
        4px 4px 0 #000000;
    text-align: center;
    position: relative;
    cursor: pointer;
}

/* inner div */
.card .inner {
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    overflow: hidden;
}

/* card middle text view div */
.card .mark {
    display: inline-block;
    background: #ffffff;
    margin: auto;
    padding: 0 26px;
    border-radius: 100px 60px / 120px 60px;
    line-height: 1.4;
}

/* card blue color */
.card.blue {
    color: #0063B3;
}

/* card  inner blue color */
.card.blue .inner {
    background: #0063B3;
}

/* card green color */
.card.green {
    color: #18A849;
}

/* card inner green color */
.card.green .inner {
    background: #18A849;
}

/* card red color */
.card.red {
    color: #C72A18;
}

/* card inner red color */
.card.red .inner {
    background: #C72A18;
}

/* card yellow color */
.card.yellow {
    color: #E6CA1E;
}

/* card inner yellow color */
.card.yellow .inner {
    background: #E6CA1E;
}

/* card top left text view */
.top{
    position: absolute;
    line-height: 0;
    font-size: 1.2rem;
    color: #ffffff;
    text-shadow:
        1px 1px 0 #000000,
        -1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px -1px 0 #000000,
        1px 0 0 #000000,
        -1px 0 0 #000000,
        0 -1px 0 #000000,
        0 1px 0 #000000,
        2px 2px 0 #000000;
    top: 1rem;
    left: 0.6rem;
}

/* card bottom right text view */
.bottom {
    position: absolute;
    line-height: 0;
    font-size: 1.2rem;
    color: #ffffff;
    text-shadow:
        1px 1px 0 #000000,
        -1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px -1px 0 #000000,
        1px 0 0 #000000,
        -1px 0 0 #000000,
        0 -1px 0 #000000,
        0 1px 0 #000000,
        2px 2px 0 #000000;
    bottom: 1rem;
    right: 0.6rem;
}

/* special style for reverse card. rotate by -45deg */
.reverse{
    display: inline-block;
    transform: rotate(-45deg);
}

/* specials font */
.mark .reverse{
    font-size: 80px;
}

.mark .skip{
    font-size: 64px;
}