.card {
    width: 116px;
    height: 178px;
    float: left;
    background: #fff;
    border-radius: 25px;
    display: table;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100px;
    text-shadow:
        1px 1px 0 #000000,
        -1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px -1px 0 #000000,
        1px 0 0 #000000,
        -1px 0 0 #000000,
        0 -1px 0 #000000,
        0 1px 0 #000000,
        4px 4px 0 #000000;
    box-shadow: 0 0 10px #aaaaaa;
    text-align: center;
    position: relative;
}

.card .inner {
    display: table-cell;
    vertical-align: middle;
    border-radius: 25px;
    overflow: hidden;
}

.card .unologo {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 5px;
}