/* playscreen div main */
.playscreen_div{
    background-color: #71C9CE;
    /* background-image: -webkit-linear-gradient(75deg, #fdef6d 50%, #cf1f30 50%); */
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* card deck to draw from */
.card_deck{
    position: absolute;
    top: 74%;
    left: 5%;
}

/* card stack to display played cards */
.card_stack{
    position: absolute;
    top: 40%;
    left: 46%;
}

/* uno button */
.uno_call{
    position: absolute;
    right: 5%;
    bottom: 10%;
}

/* button styles */
.uno_button{
    font-size: 1.2rem;
    background-color: #C72A18;
    border: 1px solid black;
    border-radius: 50%;
    height: 4rem;
    width: 6rem;
    box-shadow:0 0.8rem 0 #9c2013;
    cursor: pointer;
}